@charset "utf-8";
html{
    background-color: skyblue;
}
body{
    background-color: ghostwhite;
    margin: 0 auto;
    margin-top: 15px;
    width: 100%;
	max-width: 1020px;
	min-width: 640px;
}
body > header {
    background-color: darkcyan;
    color: lime;
    font-size: 15px;
    text-align: center;
    line-height: 15px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}
body > header:hover{
    background-color: aquamarine;
    color: green;
}
body > nav {
    margin: 0 0 10%;
	width: 100%;
    display: block;
}
body > nav > ul{
    background-color: dimgray;
    list-style-type: none;
    text-align: left;
    margin-top: -11px;
    overflow: hidden;
}
body > nav > ul > li{
    border-right: 0.1px solid black;
    float: left;
}
body > nav > ul > li > a{
    color: white;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    width: 312px;
    display: block;
}
body > nav > ul > li > a:link, nav > ul > li > a:visited{
    color: white;
    text-decoration: none;
}
body > nav > ul > li > a:hover, nav > ul > li > a:active{
    color: magenta;
    font-size: 25px;
    text-decoration: underline;
}
body > main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -115px;
}
body > main > aside h2.hobbies_h2, article h2.hobbies_h2, section h2.hobbies_h2{
    margin-top: 10px;
}
body > main > aside h3, article h3, section h3{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
body > main > article h2.other{
    margin-bottom: 30px;
    margin-top: 20px;
}
body > main > aside p, article p, section p{
    font-size: 16px;
    margin-top: -17px;
}
body > main > aside, article{
    padding: 10px;
    width: 20%;
    float: left;
}
body > main > aside > ul > li, main > article > ol > li{
    margin-bottom: 11.5px;
    margin-top: -10px;
}
body > main > aside h2, section h2, article h2{
    color: chocolate;
    font-size: 22px;
}
body > main > aside > ul > li#myFact01{
    text-decoration: underline;
}
body > main > section{
    padding: 10px;
    width: 40%;
    float: left;
}
body > main > aside > img, article > img {
    position: fixed;
}
body > main > aside > img#quran, img#lahore{
    height: 200px;
    width: 200px;
}
body > main > article > img#faariz{
    margin-left: 188px;
    margin-top: -200px;
    height: 220px;
    width: 172px;
}
body > main > aside > img#lahore{
    margin-left: 210px;
    margin-top: -75px;
}
body > main > aside > img#pakistan{
    margin-top: 175px;
    height: 155px;
    width: 175px;
}
body > main > aside > img#quran{
    margin-left: 410px;
    margin-top: 173.5px;
}
body > main > aside > img#coding{
    margin-left: 210px;
    margin-top: 160px;
    height: 145px;
    width: 180px;
}
body > main > aside > img#cricket{
    margin-top: -5px;
    margin-left: -20px;
    height: 310px;
    width: 210px;
}
body > main > aside > img#drama{
    margin-left: 400px;
    margin-top: 160px;
    height: 146px;
    width: 195px;
}
body > main > aside > img#torontoCanada{
    margin-left: -10px;
    margin-top: -5px;
    height: 200px;
    width: 200px;
}
body > main > article > img#mapleLeaf{
    margin-left: 170px;
    margin-top: -100px;
    height: 200px;
    width: 200px;
}
body > footer {
    background-color: darkcyan;
    color: white;
    line-height: 55px;
    text-align: center;
    margin-top: 800px;
    height: 85px;
    width: 100%;
}
body > footer > p > a:visited, a:link{
    color: white;
    text-decoration: none;
}
body > footer > p > a:hover, a:active{
    color: pink;
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (max-width:600px){
    section, aside, article{
        width: 100px;
    }
}